[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
nltk = "*"
scikit-learn = "*"
mlflow = "*"
hyperopt = "*"
prefect = "==2.3.1"
scipy = "*"
matplotlib = "*"
flask = "*"
evidently = "===0.1.23.dev0"

[dev-packages]

[requires]
python_version = "3.8"
